.cta {
    background-image: url("/images/tree.png") !important;
    background-repeat: repeat-x !important;
    z-index: 100;
    background-position: center bottom;
    width: 100% !important;
    animation: moveRight 30s linear infinite;
    transition: 30s ease-in-out;
}


@keyframes moveRight {
    0% {
        background-position: right bottom;
    }

    100% {
        background-position: left bottom;
    }
}

.ctaSectionApps:hover .googlePlayImg{
    transform: translateX(10%);
    transition: 1s ease-in-out;
}

.ctaRightImg:hover .ctaManImage{
    transform: translateX(5%);
    transition: 1s ease-in-out;
}


/*.cta::before {*/
/*    content: '';*/
/*    background-repeat: no-repeat;*/
/*    background-position: center bottom;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    z-index: 100;*/
/*    animation: changeImage 15s linear infinite; !* Adjust the duration as needed *!*/
/*}*/

/*@keyframes changeImage {*/
/*    0% {*/
/*        background-position: right bottom;*/
/*    }*/
/*    33.33% {*/
/*        background-image: url("/images/tree.png");*/
/*    }*/
/*    66.66% {*/
/*        background-image: url("/images/tree.png");*/
/*    }*/
/*    100% {*/
/*        background-image: url("/images/tree.png");*/
/*    }*/
/*}*/

.ctaRightImg{
    background-image: url("/images/round.png") !important;
    background-repeat: no-repeat !important;
    z-index: 100;
    background-position: right bottom;
    width: 100% !important;
    padding: 10% 0% 0% 0%!important;
}


@media only screen and (max-width: 950px) {
    .ctaSectionFull{
        flex-wrap: wrap !important;
    }
    .ctaSectionApps{
        flex-wrap: wrap;
    }
}
